{% extends 'seedstars/base.html' %}

{% block title %} Add a new Seedstars User {% endblock %}

{% block body_block %}

    <div class="hero-unit">
        <h1> Add a Seedstar User </h1>

        <div class="container">
            
            <form id="page_form" method="post" action ="{% url 'ss_add' %}">

                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                {% endfor %}


                <button class="btn btn-primary" type="submit" name="submit">Add a Seedstar User</button>

            </form>

        </div>

    </div>

{% endblock %}
