{% extends 'seedstars/base.html' %}

{% block title %} Add a new Seedstars User {% endblock %}

{% block body_block %}

        <h1> Register User </h1>

        <div class="container">
            
            <form id="page_form" method="post" action ="{% url 'ss_add' %}">

                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    {{ field.help_text }}
                    {{ field }} 
                    {{ field.errors }}
                    <br>
                {% endfor %}


                <button class="btn btn-primary" type="submit" name="submit">Create User</button>

            </form>

        </div>


{% endblock %}
