{% extends 'seedstars/base.html' %}

{% block title %} List Users {% endblock %}

{% block body_block %}

        <h1> Registered Users </h1>
            <table class="reference" style="width:40%">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
                {% for seedstarsuser in object_list %}
                    <tr>
                        <td><center>{{ seedstarsuser.name}}</center></td>
                        <td><center>{{ seedstarsuser.email}}</center></td>
                    </tr>
                {% endfor %}
            </table> 


{% endblock %}
